* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: 0px;
    font-size: 16px;
}

.page{
    padding: 24px;
    height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fA;
}

.graph{
    width: 75%;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
    background-color: #ffffff;
}

.canvas{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: none;
    border: solid 1px #dee2f6;
    border-radius: 4px;
    touch-action: none;
    position: absolute;
    z-index: 2;
}

.temporaryCanvas{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: 'none';
    border-radius: 4px;
    touch-action: none;
    position: relative;
    z-index: 5;
}

.color-picker {
    position: absolute; /* 颜色选择器绝对定位 */
    right: 120%; /* 将颜色选择器移动到按钮的左侧 */
    top: 0;
    z-index: 10; /* 确保它位于其他元素之上 */
}

.toolsRight {
    position: absolute;
    right: 20;
}

.activeimage{
    border: 1px dashed rgb(255, 0, 0);
    touch-action: none;
}

.noactiveimage{
    border: 'none';
    touch-action: none;
}

.input{
    position: relative;
    width: 24%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video-container {
    position: relative;
    // display: inline-block; /* 或根据需要选择合适的显示方式 */
}

.video-controls {
    position: absolute;
    z-index: 100;
    border-radius: 4px;
}

.toggle-camera-btn {
    background-color: #7749f8;
    margin-right: 12px;
}

.camera{
    width: 100%;
    border-radius: 4px;
    border: solid 1px #dee2f6;
    margin-bottom: 24px;
}

.chatbox{
    width: 100%;
    height: 100%;
    border: solid 1px #dee2f6;
    border-radius: 4px;
    background-color: #fff;
}

.message-container{
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: calc(100% - 112px);
    overflow-y: auto;
}

.message-row{
    display: flex;
    flex-direction: row;
    align-items: end;
}
  
.message {
    margin-bottom: 12px;
    padding: 8px 12px;
    border-radius: 4px;
    word-break: break-all;
    overflow-wrap: break-word;
}
  
.sent {
    background-color: #ebe5fc;
    color: #290661;
    border: solid 1px #a370f7;
}
  
.received {
    background-color: #e9ecef;
    color: #343a40;
    border: solid 1px #ced4da;
}

.send-container{
    display: grid;
    grid-template-columns: 32px auto 64px;
    grid-template-rows: 1fr 1fr;
    gap: 16px 12px;
    align-items: center;
    justify-items: center;
    padding: 12px 16px;
    width: 100%;
    height: auto;
    bottom: 0;
    position: absolute;
    background-color: #f8f9fa;
    border-radius: 4px;
}

.chat-icon {
    display: flex;
}

.chat-speech-input, .chat-text-input {
    display: flex;
    height: 36px;
    width: 100%;
    resize: none;
    border-radius: 4px;
}

.chat-speech-input{
    border: none;
    background-color: #f8f9fa !important;
    cursor: default !important;
}

.ant-input-outlined:hover{
    border-color: #7749f8 !important;
}

.send-button, .save-button{
    display: flex;
    width: auto;
    padding: 8px 12px;
    height: auto;
    background-color: #7749f8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    bottom: 0;
}